backend/.idea/
backend/target/*
!backend/target/
!backend/target/silver-job-backend-1.0.0.jar
backend/*.iml
backend/.env
.env
web/.env
.idea/
postgres_data/
uploads/
backend/uploads/
web/node_modules/
web/dist/
.DS_Store
*.log
